# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# Logs
*.log

# VS Code
.vscode/

# Mac files
.DS_Store

# Data / model files
*.pkl
*.h5
*.pt

# Temporary files
tmp/